<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.entity.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <!-- 根据用户名查询用户 -->
    <select id="selectByUsername" resultMap="BaseResultMap">
        select u.*
        from user as u
        where u.username = #{username}
    </select>

    <!-- 插入用户数据 -->
    <!--
        useGeneratedKeys：是否开启主键返回
        keyColumn：数据库主键字段名
        keyProperty：实体类主键属性名
     -->
    <insert id="insert" useGeneratedKeys="true" keyColumn="user_id" keyProperty="userId">
        INSERT INTO user (user_id, username, password) VALUES (#{user.userId}, #{user.username}, #{user.password})
    </insert>

</mapper>