<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">

    <title th:text="'AccessDenied：'+${status}"></title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/style.css}"/>

</head>
<body>

<h2 th:text="${status}"></h2>

<h3 th:text="${accessDeniedException}"></h3>

<h5 th:text="您无权限访问此页面+'，'+如需访问+'，'+请联系管理员添加权限+'！'"></h5>

</body>

<script type="text/javascript" th:src="@{/static/js/jQuery/jquery-3.4.1.min.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /*<![CDATA[*/
    let ctxPath = /*[[@{/}]]*/ '';
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    /*]]>*/

    $(function () {
        console.info(ctxPath);
        console.info(contextPath);
        console.log("文档就绪函数", new Date().toLocaleString())
    });

</script>

</html>