<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Spring-MVC-Simple</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/style.css}"/>

</head>
<body>

<h2>Spring-MVC-Simple</h2>

<h3>ThymeleafViewResolver 视图解析器</h3>

<hr>

<h3>从 Session 中获取</h3>
<h4 sec:authorize="isAuthenticated()"
    th:text="${'用户名：' + session.SPRING_SECURITY_CONTEXT.authentication.name}"></h4>
<h4 sec:authorize="isAuthenticated()"
    th:text="${'用户证书：' + session.SPRING_SECURITY_CONTEXT.authentication.credentials}"></h4>
<h4 sec:authorize="isAuthenticated()"
    th:text="${'用户详细信息：' + session.SPRING_SECURITY_CONTEXT.authentication.principal}"></h4>
<h4 sec:authorize="isAuthenticated()"
    th:text="${'用户细节：' + session.SPRING_SECURITY_CONTEXT.authentication.details}"></h4>
<h4 sec:authorize="isAuthenticated()">
    <span>用户权限：</span>
    <span th:each="authoritie,authoritieStat:${session.SPRING_SECURITY_CONTEXT.authentication.authorities}">
        <span th:if="${authoritieStat.first}">[</span>[[${authoritie}]]<span
            th:if="${authoritieStat.index / 2 == 0}">, </span><span
            th:if="${authoritieStat.last}">]</span>
    </span>
</h4>

<!--<h4 th:text="${modelValue}"></h4>-->

<hr>

<h3>从接口中获取</h3>
<h4 sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></h4>
<h4 sec:authorize="isAuthenticated()" th:text="${#authentication.credentials}"></h4>
<h4 sec:authorize="isAuthenticated()" th:text="${#authentication.principal}"></h4>
<h4 sec:authorize="isAuthenticated()" th:text="${#authentication.details}"></h4>
<h4 sec:authorize="isAuthenticated()" th:text="${#authentication.authorities}"></h4>

<hr>

<a th:href="@{/html/index}">Thymeleaf 页面</a><br>

<a th:href="@{/ftlh/index}">FreeMarker 页面</a><br>

<a th:href="@{/jsp/index}">JSP 页面</a><br>

<a th:href="@{/ui/index.xhtml}">JSF 页面</a><br>

<br>

<button sec:authorize="!isAuthenticated()" id="login-page"><a th:href="@{/login}">登录页面</a></button>
<button sec:authorize="isAuthenticated()" id="logout-button">注销登录</button>

</body>

<script type="text/javascript" th:src="@{/static/js/jQuery/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/logout.js}"></script>

<script th:inline="javascript" type="text/javascript">

    /*<![CDATA[*/
    let ctxPath = /*[[@{/}]]*/ '';
    let contextPath = [[${#httpServletRequest.getContextPath()}]];
    /*]]>*/

    $(function () {
        console.info(ctxPath);
        console.info(contextPath);
        console.log("文档就绪函数", new Date().toLocaleString())
    });

    $("#logout-button").click(function () {
        logout(ctxPath + "logout.json")
    });

</script>

</html>