<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 配置数据库连接池 -->
    <!-- 推荐使用：org.springframework.jdbc.datasource.DriverManagerDataSource -->
    <!-- 或者选用：org.springframework.jdbc.datasource.SimpleDriverDataSource -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/jdbc/datasource/SimpleDriverDataSource.html -->
    <!-- 参见（配置两个数据源）：https://docs.spring.io/spring-boot/docs/1.5.12.RELEASE/reference/html/howto-data-access.html#howto-two-datasources -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}"/>

    <!-- 连接工厂 -->
    <!-- 参见：http://mybatis.org/spring/zh/getting-started.html -->
    <!-- 参见：http://mybatis.org/spring/zh/factorybean.html -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:typeAliasesPackage="cn.com.xuxiaowei.entity"
          p:configLocation="classpath:mybatis-config.xml">

        <!-- SqlSessionFactory 有一个唯一的必要属性：用于 JDBC 的 DataSource。 -->
        <!-- 参见：http://mybatis.org/spring/zh/factorybean.html -->
        <!-- p:dataSource-ref="dataSource" -->

        <!-- 扫描entity包 使用别名 -->
        <!-- 在 Mapper XML 可直接使用实体类的名字，而不需要用全限定名 -->
        <!-- p:typeAliasesPackage="cn.com.xuxiaowei.entity" -->

        <!-- 配置MyBaties全局配置文件:mybatis-config.xml -->
        <!-- SqlSessionFactory 一个常用的属性是 configLocation，它用来指定 MyBatis 的 XML 配置文件路径。 -->
        <!-- 参见：http://mybatis.org/spring/zh/factorybean.html -->
        <!-- p:configLocation="classpath:mybatis-config.xml" -->

        <!-- mapperLocations 属性接受多个资源位置。 -->
        <!-- 这个属性可以用来指定 MyBatis 的映射器 XML 配置文件的位置。 -->
        <!-- 属性的值是一个 Ant 风格的字符串，可以指定加载一个目录中的所有文件，或者从一个目录开始递归搜索所有目录。 -->
        <!-- <property name="mapperLocations" value="classpath:mapper/*.xml"/> -->
        <!-- 参见：http://mybatis.org/spring/zh/factorybean.html -->
        <property name="mapperLocations">
            <array>
                <value>classpath:mapper/*.xml</value>
                <!-- 多包 xml 扫描 -->
                <!-- <value>classpath:Module/mapper/*.xml</value> -->
            </array>
        </property>

    </bean>

    <!-- 事务 -->
    <!-- 参见：http://mybatis.org/spring/zh/transactions.html -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          c:dataSource-ref="dataSource"/>

    <!-- 使用注解定义事务 -->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>

    <!-- 映射器 -->
    <!-- base-package 属性允许你设置映射器接口文件的基础包。 -->
    <!-- 通过使用逗号或分号分隔，你可以设置多个包。 -->
    <!-- 并且会在你所指定的包中递归搜索映射器。 -->
    <!-- 参见：http://mybatis.org/spring/zh/mappers.html -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="cn.com.xuxiaowei.mapper"/>

</beans>