<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- @Component and Further Stereotype Annotations -->
    <!-- @Component、@Service、@Controller、@Repository -->
    <!-- 注意：不可省略 -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-stereotype-annotations -->
    <context:component-scan base-package="cn.com.xuxiaowei"/>

    <!-- Enable MVC Configuration -->
    <!-- 启用MVC配置 -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-config-enable -->
    <mvc:annotation-driven/>

    <!-- Default Servlet -->
    <!-- 默认Servlet -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-default-servlet-handler -->
    <mvc:default-servlet-handler/>

    <!-- JSP and JSTL -->
    <!-- 视图解析器 -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-view-jsp-resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-config-interceptors -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截：/，/index -->
            <mvc:mapping path="/"/>
            <mvc:mapping path="/index"/>
            <!-- 不拦截页面：/admin/** -->
            <mvc:exclude-mapping path="/admin/**"/>
            <bean class="cn.com.xuxiaowei.handlerinterceptor.IndexHandlerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 自动将 URL 增加后缀名，并根据后缀名去请求解析数据 -->
    <!--
        要求：
        使用某个后缀名时，需要 {@link RequestMapping} 包括 {@link RequestMapping} 的拓展注解 和 下方的 {@link MediaType} 有相同的值，
        或者 {@link RequestMapping} 包括 {@link RequestMapping} 的拓展注解不使用 {@link MediaType}
    -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-config-content-negotiation -->
    <bean id="contentNegotiationManagerFactoryBean"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="mediaTypes">
            <value>
                json=application/json
                xml=application/xml
            </value>
        </property>
    </bean>

</beans>