<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 授权登录成功后处理 -->
    <bean id="customSavedRequestAwareAuthenticationSuccessHandler"
          class="cn.com.xuxiaowei.handler.CustomSavedRequestAwareAuthenticationSuccessHandler"
          p:defaultTargetUrl="${security.default-target-url}"
          p:alwaysUseDefaultTargetUrl="${security.always-use-default-target-url}"/>

    <sec:http>

        <!-- 指定支持基于表单的身份验证 -->
        <sec:form-login
                login-page="${security.login-page}"
                login-processing-url="${security.login-processing-url}"
                authentication-failure-forward-url="${security.failure-forward-url}"
                authentication-success-handler-ref="customSavedRequestAwareAuthenticationSuccessHandler"/>

        <!-- 使用 logout 方法定制注销行为 -->
        <sec:logout
                logout-url="${security.logout-url}"
                logout-success-url="${security.logout-success-url}"/>

        <!-- 开启 Cookie 储存用户信息 -->
        <sec:remember-me
                token-validity-seconds="${security.token-validity-seconds}"
                remember-me-parameter="${security.remember-me-parameter}"
                key="${security.key}"/>

        <!-- 管理员权限 -->
        <sec:intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>

        <sec:intercept-url pattern="/user/**" access="hasRole('USER')"/>

        <!-- 允许配置异常处理，错误页面 -->
        <sec:access-denied-handler error-page="${security.access-denied-page}"/>

    </sec:http>


    <!-- 密码编码器 -->
    <bean id="passwordEncoderConfiguration" class="cn.com.xuxiaowei.configuration.PasswordEncoderConfiguration"/>

    <sec:authentication-manager>
        <!-- 查询登录用户 -->
        <sec:authentication-provider user-service-ref="userDetailsServiceImpl">
            <sec:password-encoder ref="passwordEncoderConfiguration"/>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <!-- 忽略 MVC 的配置 -->

</beans>