<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- {@link ThymeleafViewResolver} 视图解析器 -->
    <bean id="springResourceTemplateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver"
          p:prefix="/WEB-INF/"
          p:suffix=".html"
          p:characterEncoding="UTF-8"
          p:templateMode="HTML"
          p:cacheable="false"/>

    <!-- 添加支持 SpringSecurity -->
    <bean id="springSecurityDialect" class="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"/>

    <bean id="springTemplateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine"
          p:additionalDialects-ref="springSecurityDialect"
          p:templateResolver-ref="springResourceTemplateResolver"/>

    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver"
          p:templateEngine-ref="springTemplateEngine"
          p:characterEncoding="UTF-8"
          p:viewNames="html/*">
    </bean>

</beans>