<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- JSP and JSTL -->
    <!-- {@link InternalResourceViewResolver} 视图解析器 -->
    <!-- 是否启用缓存：cache -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-view-jsp-resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:viewClass="org.springframework.web.servlet.view.InternalResourceView"
          p:prefix="/WEB-INF/"
          p:viewNames="jsp/*"
          p:suffix=".jsp"
          p:cache="false"
          p:contentType="text/html"/>

</beans>