<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- 测试 WebService 服务类 -->
    <jaxws:endpoint implementor="cn.com.xuxiaowei.web.service.impl.WebServiceTestServiceImpl"
                    address="/webServiceTestService">

        <!-- 进入 Handler 测试 拦截器 -->
        <jaxws:inInterceptors>
            <bean class="cn.com.xuxiaowei.handlerinterceptor.WebServicesHandlerTestInterceptor"/>
        </jaxws:inInterceptors>

    </jaxws:endpoint>

</beans>