<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				        http://www.springframework.org/schema/beans/spring-beans.xsd
				        http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- @Component and Further Stereotype Annotations -->
    <!-- @Component、@Service、@Controller、@Repository -->
    <!-- 注意：不可省略 -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-stereotype-annotations -->
    <context:component-scan base-package="cn.com.xuxiaowei"/>

    <!-- JSP and JSTL -->
    <!-- 视图解析器 -->
    <!-- 参见：https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html#mvc-view-jsp-resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".html"/>
    </bean>

</beans>